body {
    background-image: url(/images/fondo.jpg);
  
  
  }

*{
    Margin:10;
    padding:10;
    box-sizing: border-box;
 }

 .padreTarifas{
  
    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:3fr;
    grid-template-rows: 0.5fr 1fr 5fr 2fr 2fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header" 
    "txtDescrTarifas"
    "itemsTarifas"
    "alingImg1"
    "alingImg2"
    "footerIndex";
    align-items: center;
    justify-content: center;
    justify-items: center;
}
header{
    grid-area: header;

}

 .liTarifas {
    text-align: left;
    color:black;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
  }

.itemsTarifas{
    grid-area: itemsTarifas;
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: 280px;
}

  li {
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;

  }
.ulTarifas{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(to top, green, rgb(56, 245, 39), rgb(4, 82, 4) );
    width: 580px;

}
a{
    text-decoration:none;
    border-radius: 5px;
  
}

.liIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;
   
}


.alingImg1{
    grid-area: alingImg1;
    text-decoration: none;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: block;
    margin: 5px;
    padding: 5px;
    width: 400px;
  
   
}
.titulo1{
color:rgb(0, 0, 0);
font-size:20px;
font-family: 'Hind Madurai', sans-serif;

}
.txtDescrTarifas{
grid-area: txtDescrTarifas;
color: rgb(0, 0, 0);
font-size:18px;
font-family: 'Hind Madurai', sans-serif;
width: 500px;

}

.footerIndex{
    grid-area: footerIndex;
    font-size: 10px;
    width: 750px;
    height: 10px;
}


.table{
    background-color: pink;
    border:rgb(0, 0, 0);

}

@media only screen and  (min-width: 800px){

 .containerTarifas{
  
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header header" 
    "alingImg1 txtDescrTarifas"
    "alingImg1 txtDescrTarifas"
    "footerIndex footerIndex";
    align-items: center;
    justify-content: center;
   
   
}
header{
    grid-area: header;

}
 .liTarifas {
    text-align: left;
    color:white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
  }

.itemsTarifas{
    grid-area: itemsTarifas;
    margin: 5px;
    padding: 5px;
    width: 650px;
    height: 350px;
    color: black;

}

  li {
    text-align: right;
    color:white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    display: block;
    margin: 5px;
    padding: 5px;
  }
.ulTarifas{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    color: black;

}
a{
    text-decoration:none;
    font-size: 25px;
    border-radius: 5px;
    color: white;

}
a:hover{
    text-decoration:none;
    font-size: 35px;
    border-radius: 5px;
    color: white;
}

.liIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;
   
}
.alingImg1{
    grid-area: alingImg1;
    display: inline-block;
    margin: 5px;
    padding: 2%;
    width: 550px;
    height: 350px;
    align-self: right;
   
}
.titulo1{
color:rgb(0, 0, 0);
font-size:30px;
font-family: 'Hind Madurai', sans-serif;
text-align: left;

}
.table{
   
    text-align: center;
    width: 500px;
    height: 200px;
    border-color: black;
    border:10px;

}
.cabecera{
    color: yellow;
    background-color: purple;
    width: 100px;
   
}
.txtDescrTarifas{
grid-area: txtDescrTarifas;
background-color:white;
color: rgb(0, 0, 0);
font-size:26px;
font-family: 'Hind Madurai', sans-serif;
width: 1250px;
height: 750px;
text-align: left;
}

.footerIndex {
    grid-area: footerIndex;
    width: 100%;
    font-size: 15px; 
    background-color: white;}

.footerUbicacion {
    width: 100%;
    height: 50px;
    font-size: 16px; 
    font-family: "Roboto Slab", serif;
    text-align: left;
    padding: 1%;
    justify-content: center;
    text-transform: uppercase;
    background-image: linear-gradient(to top, rgb(77, 0, 128), rgb(187, 39, 245), rgb(153, 126, 216) );
  }

.footerDerecho {
    width: 100%;
    font-size: 15px; 
    background-color: white;}
}