body{
    background-color: rgb(255, 233, 233);
}

*{
    Margin:10;
    padding:10;
    box-sizing: border-box;
 }

 .padreTarifas{
  
    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:3fr;
    grid-template-rows: 0.5fr 1fr 5fr 2fr 2fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header" 
    "txtDescrTarifas"
    "itemsTarifas"
    "alingImg1"
    "alingImg2"
    "footerIndex";
    align-items: center;
    justify-content: center;
    justify-items: center;
}
header{
    grid-area: header;

}

 .liTarifas {
    text-align: left;
    color:white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
  }

.itemsTarifas{
    grid-area: itemsTarifas;
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: 280px;
}

  li {
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;

  }
.ulTarifas{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(to top, green, rgb(56, 245, 39), rgb(4, 82, 4) );
    width: 580px;

}
a{
    text-decoration:none;
    border-radius: 5px;
  
}

.liIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;
   
}


.alingImg1{
    grid-area: alingImg1;
    text-decoration: none;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: block;
    margin: 5px;
    padding: 5px;
    width: 400px;
  
   
}
.alingImg2{
    grid-area: alingImg2;
    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: block;
    margin: 5px;
    padding: 5px;
    width: 400px;
   
}
.titulo1{
color:white;
font-size:20px;
font-family: 'Hind Madurai', sans-serif;

}
.txtDescrTarifas{
grid-area: txtDescrTarifas;
color: white;
font-size:18px;
font-family: 'Hind Madurai', sans-serif;
width: 500px;

}

.footerIndex{
    grid-area: footerIndex;
    font-size: 10px;
    width: 750px;
    height: 10px;
}


@media only screen and  (min-width: 800px){

body{
    background-image: url(verde.jpg);
}

*{
    Margin:10;
    padding:10;
    box-sizing: border-box;
 }

 .padreTarifas{
  
    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 0.5fr 5fr 5fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header header" 
    "alingImg1 txtDescrTarifas"
    "alingImg2 itemsTarifas"
    "footerIndex footerIndex";
    align-items: center;
    justify-content: center;
   
   
}
header{
    grid-area: header;

}
 .liTarifas {
    text-align: left;
    color:white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
  }

.itemsTarifas{
    grid-area: itemsTarifas;
    margin: 5px;
    padding: 5px;
    width: 650px;
    height: 350px;

}

  li {
    text-align: right;
    color:white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 35px;
    display: block;
    margin: 5px;
    padding: 5px;
  }
.ulTarifas{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;

}
a{
    text-decoration:none;
    font-size: 30px;
    border-radius: 5px;
    color: white;
   background-color: green;
}
a:hover{
    text-decoration:none;
    font-size: 35px;
    border-radius: 5px;
    color: white;
   background-color:chartreuse;
}

.liIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;
   
}
.alingImg1{
    grid-area: alingImg1;
    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 320px; 
}
.alingImg2{
    grid-area: alingImg2;
    text-decoration: none;
    text-align: right;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 320px;
   
}

.alingParr{
    text-decoration: none;
    text-align: left;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    display: inline-block;
    margin: 15px;
    padding: 15px;
    font-size: 15;
    position: absolute;
    top: 100px;
    left: 500px;
    width: 650px;
    height: 650px;
}


.titulo1{
color:white;
font-size:30px;
font-family: 'Hind Madurai', sans-serif;

}
.txtDescrTarifas{
grid-area: txtDescrTarifas;
color: white;
font-size:26px;
font-family: 'Hind Madurai', sans-serif;
width: 650px;
height: 250px;
text-align: left;
}

.footerIndex{
    position: absolute;
    top: 890px;
    left: 50px;
    width: 1750px;
    height: 55px;
}
}