* {
    Margin:10;
    padding:10;
    box-sizing: border-box;
 }

 .txtContact{
    font-size: 30px;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    width: 550px;
}

.formulario{
    
    background-image: linear-gradient(to top, rgb(77, 0, 128), rgb(187, 39, 245), rgb(153, 126, 216) );
    grid-area: formulario;
    font-size: 20px;
    width: 450px;
    height: 300px;
    margin: 30px;
    padding: 30px;
    text-align: right;
 
}


.padreContacto{

    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:3fr;
    grid-template-rows: 0.5fr 1fr 2fr 7fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header" 
    "txtContact"
    "formulario"
    "map"
    "footerIndex";
    justify-content: center;
    justify-items: center;



}

header{
    grid-area: header;

}

a{
    text-decoration:none;
    border-radius: 5px;
  
}


.map{
    grid-area: map;
   
}
.titulo1{
  
font-size:30px;
font-family: 'Hind Madurai', sans-serif;
}

.footerIndex{
    grid-area: footerIndex;
    font-size: 10px;
    width: 700px;
    height: 10px;
}

@media only screen and  (min-width: 800px){
    body {
        background-image: url(/images/fondo.jpg);
      }
* {
    Margin:10;
    padding:10;
    box-sizing: border-box;
 }

 .txtContact{
    font-size: 30px;
    color: whitesmoke;
    margin: 20px;
    padding: 10px;
    font-family: 'Hind Madurai', sans-serif;
}

.formulario{
    
    background-image: linear-gradient(to top, rgb(77, 0, 128), rgb(187, 39, 245), rgb(153, 126, 216) );
    grid-area: formulario;
    font-size: 20px;
    font-family: 'Hind Madurai', sans-serif;
    width: 500px;
    height: 400px;
    margin: 10px;
    padding: 50px;
    text-align: right;
 
}

.btnEnviar:hover{
    text-decoration:none;
    font-size: 22px;
    border-radius: 5px;
}

.padreContacto{

    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-rows: 0.5fr 1fr 5fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header header" 
    "txtContact txtContact"
    "formulario map"
    "footerIndex footerIndex";
   align-self: start;
}

header{
    grid-area: header;

}

a{
    text-decoration:none;
    border-radius: 5px;
  
}


.map{
    grid-area: map;
   
}
.titulo1{
  
font-size:30px;
font-family: 'Hind Madurai', sans-serif;
}

.footerIndex{
    grid-area: footerIndex;
    font-size: 10px;
    width: 100%;
    height: 10px;
}
}