.padreGuarderia{
  
    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:3fr;
    grid-template-rows: 0.5fr 1fr 1fr 4fr 4fr 4fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header" 
    "txtDescr"
    "tituloGal" 
    "alingImg1"
    "alingImg2"
    "alingImg3" 
    "footerIndex";
    justify-content: center;
    justify-items: center;
}
.tituloGal{
    grid-area: tituloGal;
    color:black;
    font-size:20px;
    font-family: 'Hind Madurai', sans-serif;
    animation: tituloGal;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    }

@keyframes tituloGal {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
.txtDescr{
    grid-area: txtDescr;
    color: black;
    font-size:10px;
    font-family: 'Hind Madurai', sans-serif;
    text-align: center;
    width: 500px;
}
.alingImg{
    grid-area: alingImg1;
    text-decoration: none;
    display: block;
    color: snow;
    font-family: 'Hind Madurai', sans-serif;
    margin: 5px;
    padding: 5px;
    width: 380px;
    height: 200px;
}
a{
    text-decoration:none;
    border-radius: 2px;
}


.footerIndex{
    width: 750px;
    height: 70px;

}





@media only screen and  (min-width: 768px){

    body {
        background-image: url(/images/fondo.jpg);}

*{
    Margin:10;
    padding:10;
    box-sizing: border-box;
 }

 .padreGuarderia{
    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns:3fr 4fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header header" 
    "txtDescr alingImg"
    "footerIndex footerIndex";
    justify-content: center;
    justify-items: center;

}
header{
    grid-area: header;
}
 
a{
    text-decoration:none;
    border-radius: 4px;
}

.alingImg{
    grid-area: alingImg;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    width: 1200px;
    height: 750px;
}

.titulo1{
grid-area: titulo1;
color:red;
font-size:30px;
font-family: 'Hind Madurai', sans-serif;

}

@keyframes tituloGal {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

.txtDescr{
grid-area: txtDescr;
color: black;
font-size:18px;
font-family: 'Hind Madurai', sans-serif;
text-align: left;
width: 700px;
height: 750px;
margin: 2px;
padding: 2%;
background-color: snow;
}
.footerIndex{
    width: 100%;
    height: 70px;

}
}