$oscuro: #000000;
$claro: #FFFFFF;

body{
    background-image: url(/css/verde.jpg);
}
*{
    Margin:0;
    padding:0;
    box-sizing: border-box;
 }

 li {
    text-align: right;
    color:$claro;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 10px;
    display: inline-block;
    margin: 2px;
    padding: 2px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;

}

a{ 
    text-decoration:none;
    font-size: 10px;
    border-radius: 3px;
    color: $claro;
    border: solid black;
    background-color: green;
    
    &:hover{
    text-decoration:none;
    font-size: 12px;
    border-radius: 5px;
    color: $claro;
    background-image: linear-gradient(to top, green, snow);
    }
} 
.padre{
  
    height: 928px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr 2fr 3fr 2fr 0.5fr;
    gap: 5px;
    grid-template-areas: 
    "header" 
    "video" 
    "map" 
    "descrip" 
    "footerIndex";
    justify-items: center;
    justify-content: space-around;
    header{
        grid-area: header;
    
    }
    .titulo1{
        color: $oscuro;
        font-size:20px;
        font-family: 'Hind Madurai', sans-serif;
        text-align: center; 
    
    }
    .txtDescr{
        color: $oscuro;
        font-size:18px;
        font-family: 'Hind Madurai', sans-serif;
        text-align: center;
        width: 500px;
        height: 100px;
        }
        .txtDescr2{
            color: $oscuro;
            font-size:18px;
            font-family: 'Hind Madurai', sans-serif;
            text-align: center;
            width: 1200px;
            height: 100px;
            }
}
.map{
    border: solid $claro;
    grid-area: map;
    height:250px;
    width:450px;
    text-align: justify;
}
.video{
    grid-area: video;
    height:300px;
    width:600px;
}

.titPrincipal{
   
    font-size: 18px;
    text-align: center;
    color:$oscuro;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 160px;
    left: 530px;

    animation: titPrincipal;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes titPrincipal {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.btnReserva{
    position: absolute;
    top: 260px;
    left: 550px;
    width: 80px;
    height: 25px;
    background-color: rgb(8, 165, 8);
    color: $claro;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 13px;
}
.footerIndex{
    grid-area: footerIndex;
    font-size: 10px;
    width: 750px;
    height: 10px;

}

@media only screen and  (min-width: 768px){

    *{
        Margin:0;
        padding:0;
        box-sizing: border-box;
     }

    .padre{
  
            height: 928px;
            margin: 10px auto;
            display: grid;
            grid-template-columns: 1.5fr 2fr 1.5fr;
            grid-template-rows: 0.5fr 4fr 1fr 0.5fr;
            gap: 5px;
            grid-template-areas: 
            "header header header" 
            "video video map"
            "descrip descrip descrip" 
            "footerIndex footerIndex footerIndex";
            justify-items: center;
            header{
                grid-area: header;
            }
              
            .titulo1{
            color: white;
            font-size:30px;
            font-family: 'Hind Madurai', sans-serif;
            text-align: center;
            }
            .txtDescr{
            color: $oscuro;
            font-size:18px;
            font-family: 'Hind Madurai', sans-serif;
            text-align: center;
            }
            .descrip{
            grid-area: descrip;
            text-align: center;
            width: 1200px;
            height: 100px;
            
        }
    }
         li {
            text-align: right;
            color:$claro;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 35px;
            display: inline-block;
            margin: 5px;
            padding: 5px;
          }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
        }
        a{
            text-decoration:none;
            font-size: 30px;
            border-radius: 5px;
            color: $claro;
            border: solid $oscuro;
           background-color: green;
           &:hover{
            text-decoration:none;
            font-size: 35px;
            border-radius: 5px;
            color: $claro;
           background-image: linear-gradient(to top, green, snow);
        }
        }
       
        .btnReserva{
            position: absolute;
            top: 450px;
            left: 1000px;
            width: 130px;
            height: 45px;
            background-color: rgb(8, 165, 8);
            color: $claro;
            text-decoration: none;
            border-radius: 12px;
            text-align: center;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 30px;
        }
        .map{
            border: solid $claro;
            grid-area: map;
            height:400px;
            width:500px;
        }
        .titPrincipal{
               
                font-size: 45px;
                text-align: center;
                color: $oscuro;
                margin: 20px;
                padding: 10px;
                width: 250px;
                height: 200px;
                position: absolute;
                top: 180px;
                left: 900px;
                
        }
        .footerIndex{
                grid-area: footerIndex;
                width: 1750px;
                height: 60px;
                font-size: 15px;
            
        }
        .video{
                grid-area: video;
                width: 1300px;
                height: 600px;
                
        }
    }